body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, select {
    padding: 0.5em;
    font-size: 1em;
}

section {
    margin: 0.5em;
    border: 1px solid black;
    padding: 10px;
}

button {
    margin-top: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
}

input {
    width: 30em;
}

main {
    margin-top: 1rem;
    padding: 2rem;
    font-size: large;
}

a {
    font-size: 1.5rem;
}